.quadro {
  width: 95vw;
  height: 95vh;
  display: block;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

canvas {
  -webkit-mask-image: 
    linear-gradient(to right, transparent, black 10%, black 90%, transparent),
    linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  -webkit-mask-composite: intersect;
  
  mask-image: 
    linear-gradient(to right, transparent, black 10%, black 90%, transparent),
    linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  mask-composite: intersect;
}